@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

main,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

fieldset {
  border: none;
}

li {
  list-style-type: none;
  margin: 0;
}

li > a {
  text-decoration: none;
}

.error-message {
  font-size: 22px;
  font-weight: 900;
}
